body, header, footer, input, button {
    margin: 0 auto;
    max-width: 700px;
    font-weight: 600;
	font-family: "Open Sans", sans-serif;
}

header {
	font-size: 44px;
	color: #ffffff;
    background: #383636;
    height: 70px;
    position: absolute;
    left: auto;
    position: fixed;
    width: 100%;
    top: 0px;
}

.main_name, .footer_text {
    padding-top: 10px;
    text-align: left;
    margin-left: 20px;
    font-weight: 900;
}

a:link, a:active, a:visited {
    color: #000000;
}

footer {
    display: flex;
    background: #899196;
    height: 70px;
    position: absolute;
    left: auto;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.body_bg {
    background: #f3f3f3;
    min-height: 100%;
}

.top_correction, .bottom_correction {
    height: 70px;
}

.logo_telegram {
    width: 64px;
    margin-left: 3px;
    margin-top: 3px;
}

.logo_telegram:hover {
    opacity: 80%;
}

.developer_contact {
    margin-left: 10px;
    font-size: 18px;
    color: #ffffff;
    padding-top: 26px;
}